body{
	margin: 0;
	background: #435ac2;
	overflow-x: hidden;
	width: 100%;
}

.container {
	padding: 0 10px;
	max-width: 1400px;
	margin: 0 auto;
	overflow-x: hidden;
}

.window {
	max-width: 500px;
	height: 250px;
	background: #F9FAFC;
	margin: calc(50vh - 151px) auto 0;
	padding-top: 50px;
	position: relative;
	box-shadow: 0px 10px 50px 5px #B8BDDD;
	animation: window  0.3s;
	border: 1px solid #B8BDDD
}

@keyframes window{
	0%{
		transform:scale3d(.3, .3, .3); 
		opacity:0;
	}
	50%{
		opacity:1;
	}
}

.content__circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	background-color: #fff;
	left: 0;
	margin-top: 70px;
}

.title {
	text-align: center;
	font-family: arial;
	color: #727378;
}

button {
	width: 15%;
	height: 40px;
	position: absolute;
	border: none;
	color: #f90;
	font-weight: 700;
	outline: none;
	font-size: 22px;
	background-color: pink;
	border-radius: 5px;
}


.btn-yes {
	cursor: pointer;
	top: 60%;
	left: 27.5%;
	background: #56ab2f;  
	background: -webkit-linear-gradient(left, #a8e063, #56ab2f);
	background: -o-linear-gradient(left, #a8e063, #56ab2f);
	background: linear-gradient(to right, #a8e063, #56ab2f); 
}	

.btn-no {
	top: 60%;
	left: 57.5%;
	background: #f85032;
	background: -webkit-linear-gradient(left, #e73827, #f85032);
	background: -o-linear-gradient(left, #e73827, #f85032);
	background: linear-gradient(to right, #e73827, #f85032); 
	transition: 0.05s;
}

.lol{
	display: flex;
	justify-content: space-between;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

.active, .btn:hover {
    background-color: #666;
    color: white;
}

.wave-btn {
	width: 280px;
	height: 60px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 0 0 10px 10px;
	transition: all .8s ease 0s;
	position: relative;
	overflow: hidden;
	&:hover {
	  border-radius: 10px;
	  transition: all .28s ease .2s;
	  box-shadow: 0 0 40px rgba(73, 115, 255, .6);
	}
	&:hover .wave-btn__waves{
	  top: -50px;
	}
	&__text {
	  color: #fff;
	  text-transform: uppercase;
	  letter-spacing: 8px;
	  font-family: Arial, sans-serif;
	  position: relative;
	  z-index: 2;
	}
	&__waves {
	  position: absolute;
	  top: 0; left: 0;
	  width: 280px; height: 280px;
	  background-color: #4973ff;
	  box-shadow: inset 0 0 50px rgba(0,0,0,.5);
	  transition: all .8s ease 0s;
	  &::after, &::before {
		content:'';
		position: absolute;
		top: 0; left: 50%;
		width: 250%; height: 250%;
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	  }
	  &::before {
		background: #000;
		border-radius: 48%;
		animation: waves 5s linear 0s infinite normal none;
		
	  }
	  &::after {
		background-color: rgba(0, 0, 0, .5);
		border-radius: 44%;
		animation: waves 10s linear 0s infinite normal none;
	  }
	}
}

@keyframes waves {
0%{transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);}
100%{transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);}
}

.btn-link{
	margin: 40px auto 0;
	text-align: center;
	display: inline-block;
	width: 250px;
	padding: 17px 13px;
	background-color: rgb(57, 37, 150);
	color: #f90;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	transition: all .2s linear;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0);
	&.active{
		border: 1px solid #000;
		background-color: #fff;
		color: inherit;
	}
}


.wav{
	transition: all .4s linear;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-left: 0;
}